extends layout

block content
	.row
		.large-8.columns.large-centered
			#opciones.row
				.large-12.columns
					h2.text-center Melodica

				.large-6.columns.large-centered
					h2 #{error}


	script(src="/js/jquery.js")